## Reading 2021 Data

In [1]:
import pandas as pd
import numpy as np

In [96]:
headers_name = ["Stn_code", "Location", "State_Name", "Temp_min", "Temp_max", "pH_min", "pH_max",
                "conduc_min", "conduc_max", "bod_min", "bod_max", "nitrate_min", "nitrate_max",
                "Fcoli_min", 'Fcoli_max', "Tcoli_min", "Tcoli_max", "Tds_min", "Tds_max", "F_min",
                "F_max", "Ar_min", "Ar_max"]

In [97]:
data = pd.read_excel("NWMP_DATA_2021.xlsx", engine="openpyxl", skiprows=[0], header=[1])
data.columns.values[0:data.shape[1]] = headers_name
print(data.shape)
data.head(3)

(1090, 23)

,Stn_code,Location,State_Name,Temp_min,Temp_max,pH_min,pH_max,conduc_min,conduc_max,bod_min,...,Fcoli_min,Fcoli_max,Tcoli_min,Tcoli_max,Tds_min,Tds_max,F_min,F_max,Ar_min,Ar_max
0,3092.0,"BORE WELL AT ARINAMA AKKIVALASA, SRIKAKULAM",ANDHRA PRADESH,28,31,7.4,8.1,712,1139,2,...,3,4,64,75,492,754,1,1.1,0.001,0.001
1,4360.0,"BORE WELL AT IDA,\nRAMANAYYAPETA, KKAINADA",ANDHRA PRADESH,27,29,7.7,7.8,990,1280,1.8,...,2,7,75,93,660,868,0.4,0.4,0.007,0.009
2,3091.0,"BORE WELL AT KAPULUPPADA\nDUMPSITE, VISHAKHAPA...",ANDHRA PRADESH,26,26,7.0,7.1,3340,4260,2.2,...,4,7,93,93,2320,2832,0.8,1.1,0.001,0.001

In [40]:
data.drop(['Stn_code', "Location", "State_Name"], axis=1, inplace=True)
data.replace({'-':np.nan}, inplace=True)

In [66]:
data_N= data.dropna(subset=['nitrate_min'])
data_F = data.dropna(subset=['F_min'])
data_Ar = data.dropna(subset=['Ar_min'])

## Reading 2020 Data

In [68]:
import pandas as pd
import numpy as np

In [88]:
headers_name = ["Stn_code", "Location", "State_Name", "Temp_min", "Temp_max", "pH_min", "pH_max",
                "conduc_min", "conduc_max", "bod_min", "bod_max", "nitrate_min", "nitrate_max",
                "Fcoli_min", 'Fcoli_max', "Tcoli_min", "Tcoli_max", "FS_min", "FS_max", "Tds_min",
                "Tds_max", "F_min", "F_max", "Ar_min", "Ar_max"]

In [94]:
data = pd.read_excel("NWMP_DATA_2020.xlsx", engine="openpyxl", sheet_name="Table 1", header=[1])
data.columns.values[0:data.shape[1]] = headers_name

for table in range(2, 30, 1):
  if table==14: continue
  data_temp = pd.read_excel("NWMP_DATA_2020.xlsx", engine="openpyxl", sheet_name=f"Table {table}", header=[1])
  data_temp.columns.values[0:data_temp.shape[1]] = headers_name
  data = pd.concat([data, data_temp], axis=0)

data.shape

(942, 25)

In [95]:
data.to_csv("Data_2020_combined.csv")

# Analysis Post processing

In [1]:
import pandas as pd
import numpy as np

In [7]:
data21 = pd.read_csv("Data_2021_combined.csv")
#data21.head(6)

In [26]:
data21 = data21.replace({'-':-1})
data21.dropna(how='all', inplace=True)
#data21 = data21.apply(pd.to_numeric)
data21.drop(data21[data21['State_Name'].isna()].index, axis=0, inplace=True)
data_num = data21.drop(['Stn_code', 'Location', 'State_Name'], axis=1)
data_num = data_num.apply(pd.to_numeric)
data_num.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1082 entries, 0 to 1089
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1082 non-null   int64
 1   Temp_min     1082 non-null   float64
 2   Temp_max     1082 non-null   float64
 3   pH_min       1082 non-null   float64
 4   pH_max       1082 non-null   float64
 5   conduc_min   1082 non-null   int64
 6   conduc_max   1082 non-null   int64
 7   bod_min      1082 non-null   float64
 8   bod_max      1082 non-null   float64
 9   nitrate_min  1082 non-null   float64
 10  nitrate_max  1082 non-null   float64
 11  Fcoli_min    1082 non-null   int64
 12  Fcoli_max    1082 non-null   int64
 13  Tcoli_min    1082 non-null   int64
 14  Tcoli_max    1082 non-null   int64
 15  Tds_min      1082 non-null   int64
 16  Tds_max      1082 non-null   int64
 17  F_min        1082 non-null   float64
 18  F_max        1082 non-null   float64
 19  Ar_min       1082 non-null   float64
 20  Ar_max       1082 non-null   float64
dtypes: float64(12), int64(9)
memory usage: 186.0 KB

In [37]:
(data_num['nitrate_max']==-1).value_counts()

nitrate_max
False    965
True     117
Name: count, dtype: int64

In [53]:
data20 = pd.read_csv("Data_2020_combined.csv")
#data20.head(6)

In [57]:
data20 = data20.replace('\n','', regex=True)
data20 = data20.replace({'-':-1, 'BDL':0})
data20.dropna(how='all', inplace=True)
#data20 = data20.apply(pd.to_numeric)
data20.drop(data20[data20['State_Name'].isna()].index, axis=0, inplace=True)
data_num1 = data20.drop(['Stn_code', 'Location', 'State_Name', 'FS_min', 'FS_max'], axis=1)
data_num1 = data_num1.apply(pd.to_numeric)
data_num1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934 entries, 0 to 933
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   934 non-null    int64
 1   Temp_min     934 non-null    float64
 2   Temp_max     934 non-null    float64
 3   pH_min       934 non-null    float64
 4   pH_max       934 non-null    float64
 5   conduc_min   934 non-null    float64
 6   conduc_max   934 non-null    float64
 7   bod_min      934 non-null    float64
 8   bod_max      934 non-null    float64
 9   nitrate_min  934 non-null    float64
 10  nitrate_max  934 non-null    float64
 11  Fcoli_min    934 non-null    float64
 12  Fcoli_max    934 non-null    float64
 13  Tcoli_min    934 non-null    float64
 14  Tcoli_max    934 non-null    float64
 15  Tds_min      934 non-null    float64
 16  Tds_max      934 non-null    float64
 17  F_min        934 non-null    float64
 18  F_max        934 non-null    float64
 19  Ar_min       933 non-null    float64
 20  Ar_max       933 non-null    float64
dtypes: float64(20), int64(1)
memory usage: 153.4 KB

In [58]:
final_data = pd.concat([data_num, data_num1], axis=0)
final_data.shape

(2016, 21)